.navbar {
  background-color: rgba(76, 76, 142, 0.586);
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-link {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  color: rgb(32, 34, 36);
  text-decoration: none;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: aliceblue;
}
/*  */
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  width: fit-content;
}

.logo-img {
  height: 3rem;
}

.logo-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
}
/*  */
